#!/bin/bash
#====================================================
# Author: Mr.Zhang
# Create Date: 2019-11-13
# Description: auto config MySQL master&slave
#====================================================

MASTER_HOST="192.168.2.110"
SYNC_USER="slave"
SYNC_USER_PASS="Gr123465!"

cat > /data/slave.sql <<- EOF

change master to master_host='$MASTER_HOST',master_user='$SYNC_USER',master_password='$SYNC_USER_PASS',master_auto_position=1;
start slave;
FLUSH PRIVILEGES;
EOF

mysql -uroot  < /data/slave.sql

