#!/bin/bash
#====================================================
# Author: Mr.Zhang
# Create Date: 2019-11-13
# Description: auto config MySQL master&slave
#====================================================

cat > /data/slave.sql <<- EOF

change master to master_host='{{ SLAVE_HOST }}',master_user='{{ SYNC_USER }}',master_password='{{ SYNC_USER_PASS }}',master_auto_position=1;

start slave;
FLUSH PRIVILEGES;
EOF

mysql -uroot  < /data/slave.sql
