#!/bin/bash
#====================================================
# Author: Mr.Zhang
# Create Date: 2019-11-13
# Description: auto config MySQL master&slave
#====================================================

cat >/data/master.sql <<- EOF

grant replication slave on *.* to '{{ SYNC_USER }}'@'{{ IPS }}' identified by '{{ SYNC_USER_PASS }}';
FLUSH PRIVILEGES;
EOF

mysql -uroot  < /data/master.sql
