#!/bin/bash
#====================================================
# Author: Mr.Zhang
# Create Date: 2019-11-13
# Description: auto config MySQL master&slave
#====================================================
MYSQL_PASSWORD=""
MASTER_HOST="192.168.31.135"
SLAVE_HOST="192.168.31.136"
SYNC_USER="slave"
SYNC_USER_PASS="Gr123465!"

cat > master.sql <<- EOF
DELETE FROM mysql.user WHERE User='';
DROP DATABASE IF EXISTS test;
DELETE FROM mysql.db WHERE Db='test' OR Db='test\\\_%';
DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ('localhost', '127.0.0.1', '::1');
grant replication slave on *.* to '$SYNC_USER'@'%' identified by '$SYNC_USER_PASS';
FLUSH PRIVILEGES;
EOF

mysql -uroot  < /data/master.sql
