[Unit]
Description=rbd-db
After=docker.service
[Service]
ExecStartPre=-/bin/bash -c 'docker rm rbd-db'
ExecStart=/bin/bash -c 'docker run --name rbd-db --network host -e MYSQL_ALLOW_EMPTY_PASSWORD="yes" -v /opt/rainbond/data/mysql:/data -i rbd-db:v5.1.7'
ExecStop=/bin/bash -c 'docker stop rbd-db'
Restart=always
RestartSec=10
[Install]
WantedBy=multi-user.target
